<nav>
  <ul>
    <li><a href="/">На головний екран</a></li>
    <li><a href="/students">Студенти</a></li>
    <li><a href="/add-student">Додати студента</a></li>
    <li><a href="/contacts">Контакти</a></li>
  </ul>
</nav>
