<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="error">
    <h1 class="error-code">Error</h1>
    <p>Усп, щось пішло не так...</p>
</body>
</html>
