<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat History</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container mt-5">
    <h1>Завантаження файлу з історією листування</h1>
    <form id="uploadForm" enctype="multipart/form-data" class="common-container">
      <input type="file" id="fileInput" name="htmlFile" accept=".html" class="form-control mb-3">
      <button type="submit" class="btn btn-primary">Завантажити файл</button>
    </form>
    <h2 class="mt-4" id="historyHeader" style="display: none;">Історія листування</h2>
    <div id="messagesContainer"></div>
    <% if (typeof messages !== 'undefined' && messages.length > 0) { %>
      <div class="chat-container">
        <% messages.forEach(function(message) { %>
          <div class="chat-message common-container">
            <div class="common-header">
              <strong><%= message.fromName %></strong>
              <span><%= message.date %></span>
            </div>
            <div class="common-body">
              <%= message.text %>
            </div>
          </div>
        <% }); %>
      </div>
    <% } %>
  </div>
  <script>
    document.getElementById('uploadForm').addEventListener('submit', function(e) {
      e.preventDefault();
      const fileInput = document.getElementById('fileInput');

      const pathArray = window.location.pathname.split('/');
      const studentId = pathArray[pathArray.length - 1];

      const formData = new FormData();
      formData.append('htmlFile', fileInput.files[0]);

      fetch(`/upload?studentId=${studentId}`, {
        method: 'POST',
        body: formData,
      })
      .then(response => {
        if (response.ok) {
          // Refresh the page after successful upload
          window.location.reload();
        } else {
          return response.json().then(error => {
            throw new Error(error.message);
          });
        }
      })
      .catch(error => console.error('Error uploading file:', error));
    });
  </script>
</body>
</html>
